body{
    margin: 0em;
    padding: 0em;
    background-image: url("https://i.ytimg.com/vi/9_YJnor4XH4/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  
  
  #play {
    display: block;
    position: absolute;
    border-radius: 25px;
    width:20%;
    margin: auto;
    text-align:center;
    font-size:30px;
   -webkit-transition:0.5s;
    transition:0.5s;
    color:pink;
    cursor:pointer;    
    
  }
  
  #play:hover {
    background:green;
  -webkit-transform:rotate(-1deg);
    transform:rotate(-2deg);
    
    
  }
  
  #about:hover {
    background:green;     
    -webkit-transform:rotate(-2deg);
    transform:rotate(-2deg);
    
    
  }
  
  #credits:hover {
    background:green;
    -webkit-transform:rotate(-2deg);
    transform:rotate(-2deg);
    
  }
  
  #glitches:hover {
    background:green;   
    -webkit-transform:rotate(-2deg);
    transform:rotate(-2deg);
    
  }
 
  #play p {
    position:relative;
    
    
  }
  
  #about {
    display: block;
    position: absolute;
    border-radius: 25px;
    margin-top: 6%;
    width:15%;
    text-align:center;
    font-size:30px;
   -webkit-transition:0.5s;
    transition:0.5s;
    color:pink;
    cursor:pointer;
     
    
  }
  #about p {
    position:relative;
  }
  
  #glitches {
    
    display: block;
    position: absolute;
    border-radius: 25px;
    margin-top: 12%;
    width:17%;
    text-align:center;
    font-size:30px;
   -webkit-transition:0.5s;
    transition:0.5s;
    color:pink;
    cursor:pointer;
    
  }
  
  #glitches p {
    position:relative;
    
  }
  
  #credits {
    display: block;
    position: relative;
    border-radius: 25px;
    margin-top: 38%;

    width:16%;
    text-align:center;
    font-size:30px;
   -webkit-transition:0.5s;
    transition:0.5s;
    color:pink;
    cursor:pointer;
  }
  
  #credits p {
    position:relative;
    top:0px;
    
  }

  .align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
    justify-content: center;
}
.menu{
  position: absolute;
  width: 100%;
  margin: auto;
}
